.ArraySortSteps {

    background-color: #d8d8d8;
    font-family: 'Source Code Pro', monospace;
    font-size: 0.93rem;
    font-weight: bold;
    color: #4b4b4b;
    height: inherit;
    border-radius: 10px;
    text-align: left;  
    width: 32.9%;
    line-height: 35px;
    padding: 10px 15px;
    box-sizing: border-box;
    

    margin: 10px 2px;
}