.ArraySortSteps {
    width: 98%;
    background-color: #d8d8d8;
    font-family: 'Lato';
    font-size: 1.2rem;
    color: #555555;
    height: 270px;
    margin: 20px 16px;
    border-radius: 30px;
    text-align: left;  
    overflow-y: scroll; 
}