.Ul {
    position: relative;
    left: 153px; 
    padding: 15px 20px;
    font-size: 1.12rem;
    list-style: none;
    transition: color 0.2s ease-in-out;
    cursor: pointer;   
}

.Ul:hover {
    color: #f0ed5d;
}

.Ul:active {
    color: #bebc1a;   
}

.DrawerOn {
    color: #f7f57f;
    background-color: #a74747;
}



@media (max-width: 800px) {
    .Li {
        font-size: 1rem;
    }
}