.Li {
    font-size: 1.12rem;
    list-style: none;
    padding: 15px 40px;
    position: relative;
    left: 57px;
    height: 95%;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

/* .Li:hover, */
.Li:active {
    color: #f0ed5d;
}



/* .algoBtn {
    border: 0;
    padding: 0;
    background: inherit;
    color: inherit;
    font: inherit;
} */


@media (max-width: 800px) {
    .Li {
        font-size: 1rem;
    }
}