.Li {
    font-size: 1.12rem;
    list-style: none;
    padding: 15px 40px;
    margin-left: 60px;
    height: 95%;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.Li:hover,
.Li:active,
.Li.active {
    color: #f0ed5d;
}

