
.Array {
    display: flex;
    width: fit-content;
    font-family: 'Lato', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    height: 150px;
    justify-content: center;
    margin: auto;
    padding-top: 55px;
    color: rgb(87, 91, 95);
    transition: all 0.2s ease-in-out;
    transition: color 0.3 linear;
}

.Arraycell {
    padding: 0 8px;
}


.CurrentSwap {
    color: rgb(198, 53, 255);
    padding: 0 8px;
}

@media (max-width: 1000px) {
    .Array {
        width: 700px;
        font-size: 1.5rem;
    }
}

