  .enter {
    color: transparent;
  }
  
  .enterActive {
    transition: opacity 50ms;
  }

  
  /* .exit {
    color: blueviolet;
    opacity: 1;
  }
  
  .exitActive {
    opacity: 0;
    transition: opacity 100ms ease-in-out;
  } */