.enter {
    opacity: 1;
    color: white;
  }
  
  .enterActive {
    opacity: 0;
    transition: opacity 50ms ease-in-out;
  }
  
  /* .exit {
    color: blueviolet;
    opacity: 1;
  }
  
  .exitActive {
    opacity: 0;
    transition: opacity 100ms ease-in-out;
  } */