.ArrayDescriptor {
    background-color: #d8d8d8;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1.15rem;
    color: #4b4b4b;
    height: inherit;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 8px;
    border-radius: 10px;
    text-align: left;  
    width: 32.9%; 
    padding: 11px 35px;
    box-sizing: border-box;
    align-items: center;
    line-height: 40px;
}

.DescriptorHeading {
    font-size: 1.34rem; 
    font-family: Lato, sans-serif;
}

@media (max-width: 1000px) {
    .ArrayDescriptor {
        font-size: 0.85rem;
        line-height: 30px;
    }
}


@media (max-width: 800px) {
    .ArrayDescriptor {
        font-size: 0.45rem;
        line-height: 20px;
        margin-left: 1px;
        margin-right: 4px;
        padding: 3px 10px;
    }

    .DescriptorHeading {
        font-size: 0.7rem;
    }
}

/* @media (max-width: 1500px) {
    .ArrayDescriptor {

    }
} */
