.ArrayDescriptor {
    background-color: #d8d8d8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.05rem;
    color: #555555;
    height: inherit;
    margin: 10px 0;
    margin-left: 2px;
    margin-right: 8px;
    border-radius: 10px;
    text-align: left;  
    width: 32.9%; 
    ;
}