.Buttons {
    transition: all 0.2s ease-in-out;
    border-radius: 15px;
    line-height: 40px;
    font-size: 0.91rem;
    font-family: inherit;
    border: 0;
    padding: 0;
    background-color: inherit;
    cursor: pointer;
    font-weight: inherit;
    color: inherit;
    width: 150px;

}


/* .Leftmostbtn {
    right: 25%;
} */


.Buttons:focus {
    outline: 0;
}

.Buttons:hover,
.Buttons:active,
.Buttons.active {
    color: blanchedalmond;
    background-color: #a74747;
}

.Btndiv {
    position: absolute;
    right: 20px;
}

.SmallBtn {
    width: 110px;
}


@media (max-width: 800px) {
    .Btndiv {
        position: relative;
        margin-left: 40px;
    }

    .Buttons {
        font-size: 0.7rem;
    }
}