.Buttons {
    transition: all 0.2s ease-in-out;
    border-radius: 15px;
    line-height: 37px;
    font-size: 0.91rem;
    font-family: inherit;
    border: 0;
    padding: 0;
    background-color: inherit;
    cursor: pointer;
    font-weight: inherit;
    color: inherit;
    width: 150px;
    height: 70%; 
    
}


.Leftmostbtn {
    margin-left: 650px;
}

.Buttons:focus {
    outline: 0;
}

.Buttons:hover,
.Buttons:active,
.Buttons.active {
    color: blanchedalmond;
    background-color: #a74747;
}

