.Bubble {
    white-space: pre-wrap;
    padding: 10px 10px;
    
}

.BubbleSwap {
    color: rgb(61, 160, 31);
    font-size: 0.94rem;
    transition: all 0.2s ease-in-out;
}

.BubbleNoSwap {
    color: rgb(248, 28, 28);
    font-size: 0.94rem;
    transition: all 0.2s ease-in-out;
}

.TraverseComplete {
    color: rgb(248, 98, 28);
    font-size: 0.94rem;
    transition: all 0.2s ease-in-out;
}

.Complete {
    color: rgb(248, 28, 138);
    font-size: 0.94rem;
    transition: all 0.2s ease-in-out;
}