.Bubble {
    white-space: pre-wrap;
    padding: 10px 10px;
    line-height: 37px;
}

.ShouldBubbleSwap, .ShouldBubbleSwap::after {
    color: rgb(140, 3, 194);
    font-size: 0.94rem;
    transition: all 0.2s ease-in-out;   
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out; 
    content: ' // Deciding...';
}


.BubbleSwap {
    color: rgb(47, 161, 12);
    font-size: 0.94rem;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.BubbleNoSwap {
    color: rgb(248, 28, 28);
    font-size: 0.94rem;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.TraverseComplete {
    color: rgb(248, 98, 28);
    font-size: 0.94rem;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.DoLoop {
    color: lightcoral;
    font-size: 0.94rem;
    transition: all 0.2s ease-in-out;   
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out; 
}

.ForLoop {
    color: rgb(209, 97, 5);
    font-size: 0.94rem;
    transition: all 0.2s ease-in-out;  
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;   
}

.Complete {
    color: rgb(248, 28, 138);
    font-size: 0.94rem;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.BubbleHeading {
    font-size: 1.34rem; 
    font-family: Lato, sans-serif;
}

@media (max-width: 1500px) {
    .Bubble {
        line-height: 30px;
        padding: 5px 5px;
    }

    .BubbleHeading {
        font-size: 1rem; 
    }
}


@media (max-width: 800px) {
    .Bubble {
        line-height: 12px;
        padding: 1px 3px;
        white-space: pre-line;
    }
    
    .BubbleHeading {
        font-size: 0.7rem; 
    }
}