.Header {
    height: 56px;
    background-color: rgb(219, 97, 97);
    top: 0;
    left: 0;
    padding: 0px 20px;
    width: 100%;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    color: antiquewhite;
}
